<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NotepadEx.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NotepadEx.Properties.Settings>
            <setting name="RecentFiles" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowSizeX" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="WindowSizeY" serializeAs="String">
                <value>450</value>
            </setting>
            <setting name="TextWrapping" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MenuBarAutoHide" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InfoBarAutoHide" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InfoBarVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ThemeName" serializeAs="String">
                <value />
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="FontFamily" serializeAs="String">
                <value>Verdana</value>
            </setting>
            <setting name="FontWeight" serializeAs="String">
                <value />
            </setting>
            <setting name="FontStyle" serializeAs="String">
                <value />
            </setting>
            <setting name="Underline" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Strikethrough" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowLineNumbers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SyntaxHighlightingName" serializeAs="String">
                <value />
            </setting>
        </NotepadEx.Properties.Settings>
    </userSettings>
</configuration>